<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  Hello visitor,                    <br>
  great that you found your way to our Application!    <br>
  We are two students of the Leibniz University of Hannover.          <br>
  Currently, we are in our third semester of the master's degree in Operations Management and Research.      <br>
  In our free time we love to write web applications for mathematical problems. This is one example of our work.    <br>   <br>
  We hope you enjoy it.                   <br>

</p>