<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Carolina Bormann</a><br>
  Kötnerholzweg 57<br>
  30451 Hannover<br>
  carolina.bormann@hotmail.de<br>
  Matr.-Nr. 2976970<br>
  <br>
  Luise-Sophie Hoffmann</a><br>
  Hufelandstraße 16<br>
  30453 Hannover<br>
  luise-sophie.hoffmann@stud.uni-hannover.de <br>
  Matr.-Nr. 2973630<br>
</p>