<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  If you need any help, feel free to   <%= link_to "contact", contact_path %> us via email.
  We will answer within a few hours and help you with all the questions concerning this Application.

</p>
